services:
  mongo:
    image: mongo:7
    container_name: air-min-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  redis:
    image: redis:7-alpine           # versione leggera e velocissima
    container_name: air-min-redis
    restart: unless-stopped
    ports:
      - "6379:6379"                 
    volumes:
      - redis_data:/data              # persiste anche la cache se vuoi
    command: redis-server --save 60 1 --loglevel warning   # salva su disco ogni 60 sec se c’è almeno 1 modifica
  api:
    build: ./backend
    environment:
      - NODE_ENV=production
      - MONGO_URI=mongodb://mongo:27017/airdb
      - JWT_SECRET=access-secret-lungo
    depends_on:
      - mongo
      - redis
    ports:
      - "3000:3000"
  web:
    build:
      context: ./frontend     # <— QUI!
      dockerfile: Dockerfile
    ports:
      - "8080:80"

volumes:
  mongo_data:
    driver: local
  redis_data:                       
    driver: local
